@import "colores";
@import "estructuras";
@import "tipografia";



nav{
ul {
    list-style: none;
    li {
        padding: 10px;
        display: inline-block;
        a {
            text-decoration: none;
            color: black;
            font-size: 25px;
            &:hover {
                color: $color_3;
            }
        }
    }
}
}
.centrado {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.centrado2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

h1 {
    font-size: 50px;
    font-weight: 900;
    border-radius: 10px;
    border-style: solid 2px;
    border-color: $color2 ;
    padding: 2px;
}

.tarjetas {
    margin: 50px;
    div {
        background-color:$color2;
        border-radius: 2rem;
        .card-footer {
            border-radius: 2rem;
            background-color: paleturquoise;
        }
    }
}

img {
    border-radius: 5rem;
}

.contenedor1 {
    h2 {
        font-size: 100px;
        text-align: center;
        font-weight: 100;
        img {
            margin: 15px;
        }
    }
}

footer{
    ul {    
        list-style: none;
        li {
            padding: 5px;
            a {
                text-decoration: none;
                color: black;
                font-size: medium;
                &:hover {
                    color: $color_3;
                }
            }
        }
    }
}

/*sass2*/ 

$ancho: 600px;
$gray: lightgray;
$lightblue: lightblue;
$espaciado: 4px;
$espaciado2: 8px;
$blanco: white;
$negro: black;

.box_uno {
    color: $negro;
    background-color: $lightblue;
    width: $ancho/2;
    padding: $espaciado2+$espaciado;
    text-align: center;
}

.box_dos {
    $espaciado2: 10px;
    background-color: $gray;
    width: ($ancho/2)-100;
    padding: ($espaciado*2) + $espaciado2;
}

$indicador: 60;
$type: perro;
.sassdos{
    @if $type == perro {
        color: gray;
    } @else if $type == gato {
        color: red;
    } @else if $type == casa {
        color: lightblue;
    } @else {
        color: black
    }
}

.sassdos {
    @if $indicador > 20 {
        background-color: lightgray;
    } @else if $indicador < 50 {
        background-color: teal;
    } @else if $indicador < 10 {
        background-color: purple;
    } @else {
        background-color: black;
    }
}

/*maps*/

$redes: (twitter: #1d899d, facebook: #37eeeb,
sendmail: #9bdfe8);
$colores:(color1: #333333, color2: #c71e1e,
color3: #027c10);

@each $clave, $valor in $redes {
    .btn-#{$clave} {
        background-color: $valor;
    }
}

@each $clave2, $valor2 in $colores {
    .#{$clave2} {
        color: $valor2;
    }
    
}

$estilos: (
    color: green,
    centro: center,
    fuente: 24px
);

.estilos4 {
    color: map-get($estilos, color);
    text-align: map-get($estilos, centro);
    font-size: map-get($estilos, fuente);
}

/*extend*/

.ext1 {
    border: 1px solid #555555;
    background-color: #abebf0;
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
}

.ext2 {
    @extend .ext1;
    border-width: 3px;
    font-size: 15px;
}

.box1 {
    color: #004f45;
    background-color: #91c5c9;
    padding: 10px;
    text-transform: uppercase;
}

.borde {
    border: 2px dotted #333333;
}

.decoracion {
    @extend .box1;
    @extend .borde;
    word-spacing: 4px;
    letter-spacing: 3px;
}

/*MIXINS*/ 

.ejemplo1, .ejemplo2 {
    color: #1613b8;
    background-color: #abebf0;
    font-size: 20px;
}

@mixin sizes ($width, $height) {
    width: $width;
    height: $height;
}

.espacio {
    @extend .ejemplo1;
    padding: $espaciado;
}

.caja {
    @extend .espacio;
    @include sizes (780px, 100px);

}